
## <summary>policy for sysmonitor</summary>

########################################
## <summary>
##	Execute sysmonitor_exec_t in the sysmonitor domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`sysmonitor_domtrans',`
	gen_require(`
		type sysmonitor_t, sysmonitor_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, sysmonitor_exec_t, sysmonitor_t)
')

######################################
## <summary>
##	Execute sysmonitor in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sysmonitor_exec',`
	gen_require(`
		type sysmonitor_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, sysmonitor_exec_t)
')
########################################
## <summary>
##	Read sysmonitor's log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`sysmonitor_read_log',`
	gen_require(`
		type sysmonitor_log_t;
	')

	logging_search_logs($1)
	read_files_pattern($1, sysmonitor_log_t, sysmonitor_log_t)
')

########################################
## <summary>
##	Append to sysmonitor log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sysmonitor_append_log',`
	gen_require(`
		type sysmonitor_log_t;
	')

	logging_search_logs($1)
	append_files_pattern($1, sysmonitor_log_t, sysmonitor_log_t)
')

########################################
## <summary>
##	Manage sysmonitor log files
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sysmonitor_manage_log',`
	gen_require(`
		type sysmonitor_log_t;
	')

	logging_search_logs($1)
	manage_dirs_pattern($1, sysmonitor_log_t, sysmonitor_log_t)
	manage_files_pattern($1, sysmonitor_log_t, sysmonitor_log_t)
	manage_lnk_files_pattern($1, sysmonitor_log_t, sysmonitor_log_t)
')

########################################
## <summary>
##	All of the rules required to administrate
##	an sysmonitor environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`sysmonitor_admin',`
	gen_require(`
		type sysmonitor_t;
		type sysmonitor_log_t;
	')

	allow $1 sysmonitor_t:process { signal_perms };
	ps_process_pattern($1, sysmonitor_t)

    tunable_policy(`deny_ptrace',`',`
        allow $1 sysmonitor_t:process ptrace;
    ')

	logging_search_logs($1)
	admin_pattern($1, sysmonitor_log_t)
	optional_policy(`
		systemd_passwd_agent_exec($1)
		systemd_read_fifo_file_passwd_run($1)
	')
')
